.formtable{
    width: 400px;
    text-align: left;
    padding: 10px;
}
input[type=text]{
    width: 150px;
}
input[type=number]{
    width:  150px;
}

input[type=password]{
    width: 150px;
}

.label{
    text-align: right;
    vertical-align: top;
}
.control{
    margin-left: 10px;
}

.error {
    font-size: small;
    color: red;
    margin-left: 10px;
}

table.clients, table.clients.th, table.clients.td{
    padding:10px;
    border:1px solid purple;
}

.loginerror{
    font-size: medium;
    color: red;
}

.valid{
    font-size: small;
    color: green;
    margin-left: 10px;
}

table.accounts, table.accounts.th, table.accounts.td{
    padding:10px;
    border:1px solid purple;
}

table.admin, table.admin.th, table.admin.td{
    padding:10px;
    border:1px solid purple;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#left {
    line-height:30px;
    background-color:#eeeeee;
    font-size: larger;
    height:500px;
    width:200px;
    float:left;
    padding:5px;
}
.target {
    float:left;
    padding:10px;
}